@import url("https://use.typekit.net/nez6mhr.css");

/* 1. Sıfırlama */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Temel Sayfa ve Font Ayarları */
body {
  background-color: #F3F6FB; /* Navbar ile tam uyumlu arka plan */
  font-family: "amandine", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #333333;
}

/* 3. Ana Taşıyıcı Kutu (Root) */
#root {
  width: 100%; 
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #F3F6FB;
}

h1, h2 {
  color: #08060d;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}