@import url("https://use.typekit.net/nez6mhr.css");
@import url("https://use.typekit.net/nez6mhr.css");

/* 1. Sıfırlama */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Temel Sayfa ve Font Ayarları */
body {
  background-color: #F3F6FB;
  font-family: "vesterbro-sans-vf", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

/* 3. Ana Taşıyıcı Kutu (Root) */
#root {
  width: 100%; 
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: #F3F6FB;
}

h1, h2 {
  color: #08060d;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Sadece masaüstü cihazlarda yerleşik imleci gizle */
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}